<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{title}}</h1>
            <div class="data-table">
                <div class="spinner spinner-border text-primary" ng-class="{'d-none': !loading}" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <table class="table text-center" ng-class="{disabled:
                          loading}">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sản phẩm</th>
                            <th>SKU</th>
                            <th>Barcode</th>
                            <th>Khả dụng</th>
                            <th>Giá bán</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in listProduct">
                            <td class="text-left">
                                <a href="#"
                                    ng-click="redirectPage($event, '/product/'+ product.id +'/' + product.variants.id);">{{ product.title }}</a>
                            </td>
                            <td>{{ product.variants.sku}}</td>
                            <td>{{ product.variants.barcode}}</td>
                            <td>{{ product.variants.inventory_quantity}}</td>
                            <td>{{ product.variants.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <button ng-click="getPro"></button> -->

            <div class="tool d-flex justify-content-between align-items-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination m-0">
                        <li class="page-item" ng-click="getListProduct(null, 'prev')"
                            ng-class="{'disabled': currenPage == 1}">
                            <a class="page-link">
                                <span>&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" ng-repeat="number in totalPage"
                            ng-class="{'active': number == currenPage}" ng-click="getListProduct(number)">
                            <a class="page-link">{{ number }}</a>
                        </li>
                        <li class="page-item" ng-click="getListProduct(null, 'next')" ng-class="{'disabled': currenPage ==
                                totalPage.length}">
                            <a class="page-link">
                                <span>&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <select style="width: 150px;" class="form-control" name="count" ng-model="countModel" ng-change="currenPage= 1;
                        getListProduct()">
                    <option value="5">Hiển thị 5</option>
                    <option value="20">Hiển thị 20</option>
                    <option value="50">Hiển thị 50</option>
                </select>
            </div>
        </div>
    </div>
</div>